h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
}

textarea,
input,
button {
    resize: none;
    border: none;
    overflow: hidden;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    font-family: inherit;
}

html,
body {
    overflow: hidden;
}

body * {
    box-sizing: border-box;
}

.main {
    position: relative;
    height: auto;
    width: auto;
    display: grid;
    grid-row: 6vh 94vh;
    grid-template: "header" 45px "app" calc(100vh - 45px);
    font-family: 'Montserrat';
    background-image: linear-gradient(to bottom, #938dff, #ff8ff8);
    overflow: auto;
}

.header {
    position: relative;
    background-color: rgba(0, 0, 0, 0.623);
    width: 100%;
    height: 100%;
    display: grid;
    grid-area: header;
    grid-template-columns: repeat(2, 1fr);
    box-shadow: 0 0 4px 2px #000;
}

.column {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    padding: 0 2vw;
}

.column--el-to-right {
    justify-content: flex-end;
}

.column--center {
    justify-content: center;
    align-items: center;
}

.header__title {
    padding: 0;
    margin: 0;
    color: #FFF;
    font-size: 25px;
    text-align: right;
}

.app-name__version {
    padding: 2px 5px;
    background-color: rgba(255, 255, 255, 0.123);
    color: #FFF;
    font-weight: 400;
    font-size: 13px;
}

.header__logo {
    font-size: 20px;
    color: #FFF;
    text-decoration: none;
}

.section {
    position: relative;
    display: flex;
    min-height: 700px;
    width: 100%;
    grid-area: app;
    align-items: center;
    justify-content: center;
}

.container {
    display: grid;
    width: 600px;
    height: 600px;
    grid-template-rows: 125px 125px 125px 225px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.082);
    box-shadow: 5px 5px 14px 1px rgba(0, 0, 0, 0.082);
    color: #FFF;
}

.box {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
}

.box__text {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.4px;
}

.box__text--code {
    position: relative;
    display: block;
    width: 350px;
    height: 80px;
    padding: 12px;
    color: #fff;
    font-family: 'Montserrat';
    background-color: rgba(0, 0, 0, 0.158);
    border-left: 2px solid #FFF;
    border-right: 2px solid #FFF;
    border-radius: 10px;
    font-size: 12px;
    font-weight: 400;
    text-transform: lowercase;
    cursor: default;
}

.box__column {
    position: relative;
    width: 100%;
    height: 100%;
}

.box__column--center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box__column--end {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.box__input {
    width: 140px;
    height: 40px;
    text-align: center;
    font-family: 'Montserrat';
    border-radius: 20px;
    border: 0;
    margin: 0 15px;
    padding: 0 15px;
    box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.123);
}

.btn-icon {
    cursor: pointer;
    border-radius: 100%;
}

.btn-icon:hover {
    background-color: rgba(0, 0, 0, 0.158);
    transition: 0.4s ease-in all;
}

.icon {
    width: 30px;
    height: 30px;
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
}

.icon--medium {
    background-size: 80%;
}

.active {
    width: 37px;
    height: 37px;
    background-color: rgba(0, 0, 0, 0.158);
    transition: 0.1s linear all;
}

.icon__arrow {
    background-image: url('./img/icons/arrow.svg');
}

.icon__copy {
    background-image: url('./img/icons/copy.svg');
}

.icon__rocket {
    background-image: url('./img/icons/rocket.svg');
}

.icon__reset {
    background-image: url('./img/icons/reset.svg');
}

.icon__circle--inside {
    background-image: url('./img/icons/circle-inside.svg');
}

.icon__circle--outside {
    background-image: url('./img/icons/circle-outside.svg');
}

.icon--big {
    width: 60px;
    height: 60px;
}

.icon--left {
    background-position: left;
}

.icon--rotate-45 {
    transform: rotate(45deg);
}

.icon--rotate-90 {
    transform: rotate(90deg);
}

.icon--rotate-135 {
    transform: rotate(135deg);
}

.icon--rotate-180 {
    transform: rotate(180deg);
}

.icon--rotate-225 {
    transform: rotate(225deg);
}

.icon--rotate-270 {
    transform: rotate(270deg);
}

.icon--rotate-315 {
    transform: rotate(315deg);
}

.btn {
    width: 140px;
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
    border: 0;
    margin: 0 15px;
    letter-spacing: 1.4px;
    text-align: center;
    text-transform: uppercase;
    font-size: 13px;
    font-family: 'Montserrat';
    cursor: pointer;
    color: #FFF;
    background-color: rgba(35, 0, 95, 0.068);
    box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.123);
}

.modal {
    position: fixed;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.507);
    color: #FFF;
}

.modal--small {
    display: flex;
    box-sizing: border-box;
    width: 250px;
    height: 60px;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.modal__box {
    display: flex;
}

.modal--to-top {
    animation: 1s ease-in forwards;
    animation-play-state: running;
}

@keyframes modalToTop {
    from {
        margin-bottom: -110px;
    }
    to {
        margin-bottom: 10px;
    }
}


/*
JS class
*/

.hiddenAnimation {
    animation: 1s ease-in forwards;
    animation-play-state: running;
}

.hidden {
    display: none;
}

@keyframes hiddenAnimation {
    from {
        margin-bottom: 10px;
        opacity: 1;
    }
    to {
        opacity: 0;
        margin-bottom: -110px;
    }
}

@media screen and (max-width: 800px) {
    .header {
        grid-template-columns: repeat(2, auto);
    }
    .section {
        height: 100%;
    }
}

@media screen and (max-width: 630px) {
    .container {
        max-width: 600px;
        width: 100%;
    }
    .box__column--mobile {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 510px) {
    .box__column--inputs-area {
        flex-wrap: wrap;
        height: 90px;
    }
    box__input {
        margin: 5px;
    }
}

@media screen and (max-width: 490px) {
    .main {
        grid-template-rows: 10vh 90vh;
    }
    .header {
        min-height: 60px;
        grid-template-columns: auto;
        justify-content: center;
    }
    .column {
        justify-content: center;
    }
    .header__title {
        font-size: 18px;
    }
    .app-name__version {
        font-size: 11px;
    }
}

.cp-app {
    background-color: rgba(255, 255, 255, 0.178);
}